<!DOCTYPE html>
<html>
	<head>
		<title>
			Layouts for EJS | <%= pageTitle %>
		</title>
	</head>
	<body>
		<h1>
			<%= pageTitle %>
		</h1>

		<main>
			Welcome, <%= name %>.
			<%= message %>
		</main>

		<footer>
			<address>
				<%= footerText %>
			</address>
		</footer>
	</body>
</html>
